body {
  background: url("http://adellewhitefoot.files.wordpress.com/2013/12/10-1896227-vintage-looping-film-strip-background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 45px;
  margin-left: 450px;
  font-family: Garamond, Arial, sans-serif;
  color: #0F0860;
}

#movie_tickets {
  position: absolute;
  right: 210px;
  width: 200px;
  padding: 10px 50px;
}
